@import "tailwindcss";

@font-face {
    font-family: "Roboto";
    src: url("../public/roboto/Roboto-Black.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url('../public/open-sans-font-family-1743982018-0/OpenSans-Medium-BF63e1a1f80a325.ttf');
}